In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_excel('historicalweeklydata.xlsx', header=6)

In [31]:
df.tail(15)

,Week,30 yr FRM,30 yr fees & points,15yr FRM,15 yr fees & points,5/1 ARM,5/1 ARM fees & points,5/1 ARM margin,30 yr FRM/ 5/1 ARM spread
2796,2024-10-31,6.72,NaN,5.99,NaN,NaN,NaN,NaN,NaN
2797,2024-11-07,6.79,NaN,6.00,NaN,NaN,NaN,NaN,NaN
2798,2024-11-14,6.78,NaN,5.99,NaN,NaN,NaN,NaN,NaN
2799,2024-11-21,6.84,NaN,6.02,NaN,NaN,NaN,NaN,NaN
2800,2024-11-27,6.81,NaN,6.10,NaN,NaN,NaN,NaN,NaN
2801,2024-12-05,6.69,NaN,5.96,NaN,NaN,NaN,NaN,NaN
2802,2024-12-12,6.60,NaN,5.84,NaN,NaN,NaN,NaN,NaN
2803,2024-12-19,6.72,NaN,5.92,NaN,NaN,NaN,NaN,NaN
2804,2024-12-26,6.85,NaN,6.00,NaN,NaN,NaN,NaN,NaN
2805,2025-01-02,6.91,NaN,6.13,NaN,NaN,NaN,NaN,NaN
2806,2025-01-09,6.93,NaN,6.14,NaN,NaN,NaN,NaN,NaN
2807,2025-01-16,7.04,NaN,6.27,NaN,NaN,NaN,NaN,NaN
2808,2025-01-23,6.96,NaN,6.16,NaN,NaN,NaN,NaN,NaN
2809,2025-01-30,6.95,NaN,6.12,NaN,NaN,NaN,NaN,NaN
2810,2025-02-06,6.89,NaN,6.05,NaN,NaN,NaN,NaN,NaN

In [17]:
df.dtypes

Week                         datetime64[ns]
30 yr FRM                           float64
 30 yr fees & points                 object
15yr FRM                            float64
15 yr fees & points                 float64
5/1 ARM                             float64
5/1 ARM fees & points               float64
5/1 ARM margin                      float64
30 yr FRM/ 5/1 ARM spread           float64
dtype: object

In [18]:
df.duplicated().sum()

0

# Group the 15 & 30 yr FRM by year

In [20]:
avg_mortgage = df.groupby(df['Week'].dt.year)[['30 yr FRM', '15yr FRM']].mean()

In [21]:
# reset the grouped index
avg_mortgage.reset_index(inplace=True)

In [22]:
# rename headers
avg_mortgage.rename(str.lower, axis='columns', inplace=True)
avg_mortgage.rename(columns={'week': 'year', '15yr frm': '15 yr frm'}, inplace=True)

In [23]:
# filter out anything before 2012
avg_mortgage = avg_mortgage.loc[avg_mortgage['year']>=2012].reset_index(drop=True)

In [24]:
avg_mortgage

    year  30 yr frm  15 yr frm
0   2012   3.657500   2.934423
1   2013   3.975577   3.100769
2   2014   4.168868   3.286038
3   2015   3.850577   3.087500
4   2016   3.654038   2.930769
5   2017   3.989808   3.272500
6   2018   4.544615   4.000192
7   2019   3.935769   3.391731
8   2020   3.111698   2.604906
9   2021   2.957692   2.271923
10  2022   5.344038   4.583846
11  2023   6.806731   6.111731
12  2024   6.721154   5.962308
13  2025   6.946667   6.145000

# Upload to Postgres

In [26]:
from sqlalchemy import create_engine
from user_info import password
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@127.0.0.1:5433/final_project')

In [29]:
# upload to database with new table name
with engine.connect() as conn:
    avg_mortgage.to_sql('mortgage_rates', con=conn, index=False, if_exists='replace')