In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_excel('historicalweeklydata.xlsx', header=6)

In [16]:
df.head(15)

,Week,30 yr FRM,30 yr fees & points,15yr FRM,15 yr fees & points,5/1 ARM,5/1 ARM fees & points,5/1 ARM margin,30 yr FRM/ 5/1 ARM spread
0,1971-04-02,7.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1971-04-09,7.31,,NaN,NaN,NaN,NaN,NaN,NaN
2,1971-04-16,7.31,,NaN,NaN,NaN,NaN,NaN,NaN
3,1971-04-23,7.31,,NaN,NaN,NaN,NaN,NaN,NaN
4,1971-04-30,7.29,,NaN,NaN,NaN,NaN,NaN,NaN
5,1971-05-07,7.38,,NaN,NaN,NaN,NaN,NaN,NaN
6,1971-05-14,7.42,,NaN,NaN,NaN,NaN,NaN,NaN
7,1971-05-21,7.44,,NaN,NaN,NaN,NaN,NaN,NaN
8,1971-05-28,7.46,1,NaN,NaN,NaN,NaN,NaN,NaN
9,1971-06-04,7.52,,NaN,NaN,NaN,NaN,NaN,NaN
10,1971-06-11,7.52,,NaN,NaN,NaN,NaN,NaN,NaN
11,1971-06-18,7.54,1.2,NaN,NaN,NaN,NaN,NaN,NaN
12,1971-06-25,7.54,,NaN,NaN,NaN,NaN,NaN,NaN
13,1971-07-02,7.54,,NaN,NaN,NaN,NaN,NaN,NaN
14,1971-07-09,7.54,,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.dtypes

Week                         datetime64[ns]
30 yr FRM                           float64
 30 yr fees & points                 object
15yr FRM                            float64
15 yr fees & points                 float64
5/1 ARM                             float64
5/1 ARM fees & points               float64
5/1 ARM margin                      float64
30 yr FRM/ 5/1 ARM spread           float64
dtype: object

In [18]:
df.duplicated().sum()

0

# Group the 15 & 30 yr FRM by year

In [20]:
avg_mortgage = df.groupby(df['Week'].dt.year)[['30 yr FRM', '15yr FRM']].mean()

In [21]:
# reset the grouped index
avg_mortgage.reset_index(inplace=True)

In [22]:
# rename headers
avg_mortgage.rename(str.lower, axis='columns', inplace=True)
avg_mortgage.rename(columns={'week': 'year', '15yr frm': '15 yr frm'}, inplace=True)

In [23]:
# filter out anything before 2012
avg_mortgage = avg_mortgage.loc[avg_mortgage['year']>=2012].reset_index(drop=True)

In [24]:
avg_mortgage

    year  30 yr frm  15 yr frm
0   2012   3.657500   2.934423
1   2013   3.975577   3.100769
2   2014   4.168868   3.286038
3   2015   3.850577   3.087500
4   2016   3.654038   2.930769
5   2017   3.989808   3.272500
6   2018   4.544615   4.000192
7   2019   3.935769   3.391731
8   2020   3.111698   2.604906
9   2021   2.957692   2.271923
10  2022   5.344038   4.583846
11  2023   6.806731   6.111731
12  2024   6.721154   5.962308
13  2025   6.946667   6.145000

# Upload to Postgres

In [26]:
from sqlalchemy import create_engine
from user_info import password
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@127.0.0.1:5433/final_project')

In [29]:
# upload to database with new table name
with engine.connect() as conn:
    avg_mortgage.to_sql('mortgage_rates', con=conn, index=False, if_exists='replace')